%header
  .column
    = link_to "Source on Github", "http://github.com/nurugger07/calliope"
    %hgroup
      %h1 Calliope
      %h2 A Haml Parser for Elixir

#intro
  .column
    %h2 Calliope is a parser written in Elixir that renders Haml and Elixir to HTML.
    .terminal.haml-example
      %h3 Haml &amp; Elixir
      .code
        :code
          # lang: haml

          !!! 5
          %html{lang: "en-US"}
            %head
              %title Welcome to Calliope
            %body
              %h1 Calliope
              %h2 The muse of epic poetry
    .terminal.html-example
      %h3 HTML
      .code
        :code
          # lang: html

          <!DOCTYPE html>
          <html lang="en-US">
            <head>
              <title>Welcome to Calliope</title>
            </head>
            <body>
              <h1>Calliope</h1>
              <h2>The muse of epic poetry</h2>
            </body>
          </html>
    .arrow

.column
  %section
    %article
      %h1 Usage
      %p If you prefer the poetic beauty of HAML templates over HTML, then Calliope is the package for you. Calliope is a parser written in Elixir that will render HAML/Elixir templates into HTML.
      %p Calliope is simple to add to any project. If you are using the hex package manager, just add the following to your mix file:

      :code
        # lang: erlang
        def deps do
          [ { :calliope, "0.2.1" } ]
        end

      %p If you aren&rsquo;t using hex, add the a reference to the github repo.

      :code
        # lang: erlang
        def deps do
          [ { :calliope, github: "nurugger07/calliope" } ]
        end
      %p
        Next, run
        %code mix deps.get
        in the shell to fetch and compile the dependencies. Then you can either call to Calliope directly:
      :code
        # lang: erlang
        iex(1)> Calliope.render "%h1 Welcome to Calliope"
        "<h1>Welcome to Calliope</h1>"
      %p
        Or
        %code use
        Calliope in a module and call through your module:
      :code
        # lang: erlang
        defmodule MyModule do
          use Calliope
        end
      :code
        # lang: erlang
        iex(1)> MyModule.render "%h1 Welcome to Calliope"
        "<h1>Welcome to Calliope</h1>"

    %article
      %h1 Formatting
      %p
        Refer to the
        = link_to "Haml reference page", "http://haml.info/docs/yardoc/file.REFERENCE.html"
        for syntax information. Most of the syntax has been accounted for, but more functionality is being added.

      %p Haml is basically a whitespace-sensitive shorthand for HTML that does not use end tags. Although Calliope uses Haml formatting, it has its own flavor.

      %p Have a look:

      :code
        # lang: haml

        %tag{ attr: "", attr: "" } Content

      :code
        # lang: haml

        %tag(attr="" attr="") Content

      %p
        The
        %code id
        and
        %code class
        attributes can also be assigned directly to the tag:

      :code
        # lang: haml

        %tag#id.class Content

      %p
        If you&rsquo;re creating a
        = succeed ',' do
          %code div
        you don&rsquo;t need to include the tag at all. This Haml:

        :code
          # lang: haml

          #main
             .blue Content

      %p Will generate the following HTML:
      :code
        # lang: html

        <div id='main'>
          <div class='blue'>
            Content
          </div>
        </div>

    %article
      %h1 Passing Arguments

      %p The render function will also take a list of named arguments that can be evaluated when compiling the HTML.

      %p Given the following Haml:

      :code
        # lang: haml
        #main
           .blue= content

      %p
        Call
        %code render
        and pass in the
        %code haml
        and
        = succeed ':' do
          %code content

      :code
        # lang: erlang

        Calliope.render haml, [content: "Hello, World"]

      %p Calliope will render:

      :code
        # lang: html

        <div id='main'>
          <div class='blue'>
            Hello, World
          </div>
        </div>

    %article
      %h1 Embedded Elixir

      %p Calliope doesn&rsquo;t just evaluate arguments. You can actually embed Elixir directly into the templates:

      :code
        # lang: haml
        - for name <- names do
          %h1
            %p= name
      %p
        Pass the above to
        %code render
        with a list of posts:

      :code
        # lang: erlang

        Calliope.render haml, [names: ["Johnny", "Rye"]]

      %p Which renders:

      :code
        # lang: html

        <h1>
          <p>Johnny</p>
        </h1>
        <h1>
          <p>Rye</p>
        </h1>

    %article
      %h1 Precompile Templates

      %p Calliope provides an Engine to precompile your haml templates in to functions. This parses the template at compile time and creates a function that takes the name and args needed to render the page. These functions are scoped to the module that uses the engine.

      %p Adding this functionality is easy.

      :code
        # lang: erlang
        defmodule Simple do
          use Calliope.Engine

          def show do
            content_for(:show, [title: Calliope])
          end
        end

      %p
        If you are using layouts, you can set the layout and call the
        %code content_with_layout
        function.

      :code
        # lang: erlang
        defmodule Simple do
          use Calliope.Engine, layout: "application"

          def show do
            content_with_layout(:show, [title: Calliope])
          end
        end

      %p
        In addition to
        %code :layout
        you can also set the following options:

      %dl
        %dt
          %code :path
        %dd
          provides the root path. The default is the current working directory.
        %dt
          %code :templates
        %dd
          is used to define where the templates are stored. By default it will use
          = succeed "." do
            %code :path
        %dt
          %code :alias
        %dd
          is used to set the directory where the templates are located. The default value is
          = succeed "." do
            %code templates
        %dt
          %code :layout_directory
        %dd
          the directory that your layouts are stored relative to the templates path. The default directory is
          = succeed "." do
            %code layouts
        %dt
          %code :layout
        %dd
          the layout to use for templates. The default is
          = succeed "," do
            %code :none
          or you can pass in the name of a layout.

    %article.coming-soon
      %h1 Coming Soon
      %ul
        %li Rendering Elixir conditionals
        %li Rendering partials
        %li Rendering exception messages

    %footer
      = link_to "Get the source on Github", "http://github.com/nurugger07/calliope", class: "download"
      %p
        Developed by
        = link_to "Johnny", "https://twitter.com/johnny_rugger"
        and designed by
        = link_to "Rye", "https://twitter.com/ryenotbread"
        at
        = link_to "Hashrocket", "http://www.hashrocket.com", class: "hashrocket_link"